<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="paint stuff. have friends guess what you've painted. revolutionary." />
		<meta name="keywords" content="html5 canvas game drawing painting guessing party">
		<meta property="og:title" content="fingerpainting" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://fingerpainting.io" />
		<meta property="og:description" content="paint with your finger. have friends guess what you've painted. revolutionary." />
		<meta property="og:image" content="http://fingerpainting.io/media/img/hand.png" />
		<meta property="og:site_name" content="fingerpainting" />
		<meta name="twitter:site" content="@leonidaskyrkos" />
		<meta name="twitter:title" content="fingerpainting" />
		<meta name="twitter:description" content="paint with your finger. have friends guess what you've painted. revolutionary." />
		<meta name="twitter:image:src" content="http://fingerpainting.io/media/img/hand.png" />
		<title>Finger painting</title>
		<link href="https://fonts.googleapis.com/css?family=Farsan|Open+Sans+Condensed:300" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css"/>		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div id="app"></div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
		<script src="/js/vendor.bundle.js"></script>
		<script src="/js/bundle.js"></script>		
	</body>
</html>