@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  -ms-interpolation-mode: bicubic; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  vertical-align: middle; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.flex-right {
  display: block !important;
  margin-left: auto !important; }

.align-right {
  text-align: right; }

.block {
  display: block !important; }

.ib {
  display: inline-block !important; }

.ib--m {
  display: inline-block !important;
  vertical-align: middle; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.hide {
  display: none !important; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  -ms-interpolation-mode: bicubic; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  vertical-align: middle; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.95); } }

@-moz-keyframes pulsing {
  0% {
    -moz-transform: scale(0.95); }
  50% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(0.95); } }

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95); } }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.1;
  padding-right: 8em;
  padding-bottom: 1.85em;
  position: relative;
  min-height: 100vh; }
  @media (max-width: 1410px) {
    body {
      padding-right: 0; } }

.wrapper, .wrapper--noscores {
  padding: 1.5em 0.75em;
  max-width: 60em;
  margin: 0 auto; }
  .wrapper::after, .wrapper--noscores::after {
    clear: both;
    content: "";
    display: table; }
  .wrapper--noscores {
    position: relative;
    right: -4em; }
    @media (max-width: 1410px) {
      .wrapper--noscores {
        right: auto; } }

.innerwrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

#memCanvas {
  visibility: hidden;
  max-height: 0;
  overflow: hidden; }

.email-link {
  padding: 0 0.25em;
  letter-spacing: 1px;
  text-decoration: underline; }
  .email-link:hover {
    color: #B22222; }

.small, .small--it {
  font-size: 0.8em; }
  .small--it {
    font-style: italic; }

h1, h2, h3, h4, h5 {
  line-height: normal;
  font-weight: normal; }

.alpha {
  font-size: 51px;
  font-size: 5.1rem;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-weight: 700;
  color: inherit;
  line-height: 0.98039;
  width: 100%; }

.alpha {
  margin-bottom: 1em; }

.beta, .game__title {
  font-size: 40px;
  font-size: 4rem;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-weight: 700;
  color: inherit;
  line-height: 1.1;
  width: 100%; }

.beta, .game__title {
  margin-bottom: 0.75em; }

.gamma, .gameroom__title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-weight: 700;
  color: inherit;
  line-height: 0.875;
  width: 100%; }

.gamma, .gameroom__title {
  margin-bottom: 0.75em; }

.delta {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-weight: 700;
  color: inherit;
  line-height: 0.58333;
  width: 100%; }

.delta {
  margin-bottom: 1em; }

.alpha {
  text-align: center; }

.link {
  color: #B22222; }
  .link:hover {
    color: #871a1a; }

.btn, .btn--primary, .form__button--inline, .canvas__start-btn, .canvas__settings-btn, .header__home-link, .btn--secondary, .btn--submit {
  background-color: transparent;
  display: inline-block;
  margin-bottom: 0;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none !important;
  outline: 0; }
  .btn--primary, .form__button--inline, .canvas__start-btn, .canvas__settings-btn, .header__home-link {
    font-size: 0.9em;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.27778em 0.44444em 0.38889em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.048), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 -1px 1px -2px rgba(0, 0, 0, 0.12); }
    .btn--primary:hover, .form__button--inline:hover, .canvas__start-btn:hover, .canvas__settings-btn:hover, .header__home-link:hover {
      background-color: white; }
    .table--rooms .btn--primary, .table--rooms .form__button--inline, .table--rooms .canvas__start-btn, .table--rooms .canvas__settings-btn, .table--rooms .header__home-link {
      display: block;
      margin: 0 auto;
      min-width: 5em; }
  .btn--secondary, .btn--submit {
    background-color: #4E4E4E;
    font-size: 0.6em;
    width: 5.83333em;
    padding: 0.66667em 0.5em;
    color: white; }
    .btn--secondary:hover, .btn--submit:hover {
      background-color: #353535; }
  .btn--submit {
    width: 2.5em;
    padding: 0.25em; }

.form, .form--contact, .form--inline {
  margin-bottom: 1.5em;
  width: 25em;
  max-width: 100%; }
  .form::after, .form--contact::after, .form--inline::after {
    clear: both;
    content: "";
    display: table; }
  .form--popup {
    position: fixed;
    padding-top: 1em;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25em;
    max-width: 95%;
    background-color: #f2f2f2;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    padding: 1em;
    color: black; }
  .form__close {
    position: absolute;
    top: 0;
    right: 0.25em;
    cursor: pointer;
    color: #B22222;
    font-family: 'Helvetica';
    padding: 0.5em; }
    .form__close:hover {
      color: #871a1a; }
  .form--chat {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .form--inline {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__items {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .form--inline .form__items {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .form--contact .form__items {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
  .form__item {
    margin-bottom: 0.5em; }
    .form__item.right {
      margin-left: auto; }
  .form__item-wrap--wide {
    width: 100%; }
  .form__button--inline {
    padding: 0 0.55556em;
    line-height: 1.88889em; }
  .form__control, .form__control--select {
    display: block;
    margin-bottom: 1em; }
    .form--inline .form__control, .form--inline .form__control--select {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
    .table--rooms .form__control, .table--rooms .form__control--select {
      margin-bottom: 0; }
  .form__error, .form__success {
    display: block;
    color: red;
    margin: 0.5em 0; }
    .form--inline .form__error, .form--inline .form__success {
      width: 100%; }
  .form__success {
    color: #5cb85c; }
  .form__label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 0.1875em;
    padding-right: 1em; }
    .form--inline .form__label {
      margin-bottom: 0; }
  .form__control--select {
    position: relative; }
    .form__control--select:after {
      content: "";
      position: absolute;
      right: 0.5em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .form__select-wrap {
    display: block;
    position: relative;
    width: 17.5em;
    max-width: 100%; }
    .form__select-wrap:after {
      content: "";
      border-top: 0.5em solid black;
      border-left: 0.25em solid transparent;
      border-right: 0.25em solid transparent;
      position: absolute;
      right: 0.75em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      pointer-events: none; }
  .form__select {
    font-size: 0.7em;
    width: 100%;
    border-radius: 0.35714em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    -webkit-appearance: none;
    padding: 0.5em 1.07143em 0.71429em;
    border: 0;
    outline: 0; }
    .form__select > option {
      background-color: white;
      color: black; }
  .form--inline .form__input-wrap {
    padding-right: 1em; }
  .form__input {
    font-size: 0.8em;
    line-height: 1.5;
    padding: 0.3125em 0.375em;
    width: 100%;
    display: block;
    outline: 0;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4); }
    .form--chat .form__input {
      width: calc(100% - 30px); }
    .table--rooms .form__input {
      font-size: 0.75em; }
  .form__delete {
    font-size: 14px;
    font-size: 1.4rem;
    position: absolute;
    right: 1.07143em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1.07143em;
    width: 1.07143em;
    background-color: red;
    border: 0;
    color: white; }
    .form__delete:after {
      content: "x";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.canvas, .canvas--client {
  background-color: #c9c9c9;
  cursor: url("../media/img/finger.ico") 15 0, pointer;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.048), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 -1px 1px -2px rgba(0, 0, 0, 0.12);
  position: relative; }
  .canvas--client {
    cursor: default;
    border-radius: 0.25em; }
  .canvas__wrap {
    width: calc(80% - 20px);
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative; }
  .canvas__start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0.9em;
    border-radius: 0.2em;
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.4); }
  .canvas__settings {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -moz-box-align: baseline;
    box-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.5em 0.75em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.048), 0 2px 4px -2px rgba(0, 0, 0, 0.12), 0 -1px 2px -2px rgba(0, 0, 0, 0.12);
    z-index: 2;
    position: relative; }
  .canvas__settings-btn {
    margin-right: 0.25em;
    background-color: white; }
  .canvas__colours {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0.5em 0 auto;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  .canvas__colour, .canvas__brush-size-wrap {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    cursor: pointer; }
  .canvas__brush-sizes {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0.5em 0 auto;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  .canvas__brush-size-wrap {
    position: relative; }
  .canvas__brush-size {
    background-color: white;
    border-radius: 100%;
    display: block;
    margin: 0.25em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6); }
    .canvas__brush-size-wrap.active > .canvas__brush-size {
      background-color: gold; }
  .canvas__colour-picker {
    position: absolute;
    z-index: 3; }
    .canvas__colour-picker > div {
      display: none; }
    .canvas__colour-picker.active > div {
      display: block; }
  .canvas__colour-opener {
    display: block;
    width: 1.25em;
    height: 1.25em;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    border-radius: 0.1em; }
  .canvas__settings-label {
    padding-right: 0.75em;
    position: relative;
    top: e(2); }

.table, .table--rooms {
  min-width: 17.5em;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.048), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 -1px 1px -2px rgba(0, 0, 0, 0.12); }
  .table--rooms {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1.5em; }
    .table--rooms tbody {
      font-size: 0.8em; }
    .table--rooms tbody td {
      padding: 0.625em 0.9375em; }
    .table--rooms tbody > tr:last-child > td {
      padding-bottom: 1em; }
    .table--rooms thead td {
      padding: 0.6em 0.75em 0.6em; }
    @media (max-width: 53.125em) {
      .table--rooms {
        table-layout: auto; }
        .table--rooms td:nth-child(5), .table--rooms td:nth-child(3) {
          display: none; } }
    @media (max-width: 28.125em) {
      .table--rooms td:nth-child(2), .table--rooms td:nth-child(4) {
        display: none; } }

tbody {
  font-size: 16px;
  font-size: 1.6rem;
  padding-bottom: 0.625em; }
  tbody tr:last-child {
    border: 0; }
  tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  tbody td {
    padding: 0.25em;
    vertical-align: middle; }

td {
  line-height: 1.2;
  padding: 0.5em;
  position: relative; }

.header {
  text-align: center;
  margin-bottom: 1.5em; }
  .header__logo {
    display: inline-block;
    vertical-align: middle; }
  .header__steve {
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-image: url("/media/img/steve.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover; }
  .header__home-link {
    position: absolute;
    top: 0.625em;
    right: 11.875em; }
    @media (max-width: 88.125em) {
      .header__home-link {
        right: 0.625em; } }

.footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625em;
  z-index: 15; }
  .footer__left {
    float: left;
    padding-bottom: 0.5em; }
    @media (max-width: 37.5em) {
      .footer__left {
        float: none; } }
  .footer__right {
    float: right; }
    @media (max-width: 37.5em) {
      .footer__right {
        float: none; } }

@media (max-width: 75em) {
  .game__outerwrap .game__wrap, .game__outerwrap .players {
    display: none; }
  .game__outerwrap:after {
    content: "Sorry, your browser dimensions are too small to accommodate fingerpainting. The game is currently aimed at laptop and desktop owners with screen widths in excess of 1200px";
    position: fixed;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 15.625em;
    max-width: 90%;
    color: #B22222;
    font-size: 1.6em;
    font-weight: 700; } }

.game__wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.5em; }

.game__title {
  text-align: center;
  width: calc(80% - 20px); }

.game__top {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%; }

.game__timer {
  font-size: 3.5em;
  margin-left: auto;
  min-width: 1.28571em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.game__puzzle {
  text-align: center;
  display: block;
  height: 5em;
  line-height: 5em;
  width: 100%;
  white-space: pre-wrap; }

.game__puzzle-word {
  font-size: 2.4em;
  display: inline-block;
  padding-right: 0.41667em; }
  .game__puzzle-word span {
    padding-right: 0.10417em; }

.game__message {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  padding: 1em;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 15em;
  z-index: 3; }

.chat {
  width: 20%;
  padding-top: 3.125em;
  margin-left: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  line-height: 1.4;
  font-family: "Dosis", serif;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .chat__history {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    overflow: auto;
    height: 28.05em;
    margin-bottom: 0.25em; }
    .chat__history::after {
      clear: both;
      content: "";
      display: table; }
  .chat__msg-wrap {
    margin-bottom: 0.4375em; }
    .chat__msg-wrap::after {
      clear: both;
      content: "";
      display: table; }
  .chat__label {
    float: left;
    max-width: 5em;
    overflow: hidden;
    color: salmon; }
    .chat__msg-wrap.active .chat__label {
      color: #228B22; }
  .chat__text {
    padding-right: 0.3125em;
    width: auto;
    overflow: auto;
    padding-left: 0.5em;
    margin: 0;
    word-break: break-word;
    display: block; }

.players {
  width: 9em;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  color: white; }
  @media (max-width: 88.125em) {
    .players {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
      position: static;
      width: auto;
      max-width: 20em;
      padding: 1.5em;
      background-color: transparent;
      color: inherit; } }
  .players__player {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em;
    border-bottom: 0.05em solid rgba(105, 105, 105, 0.4);
    position: relative; }
    .players__player.active:before {
      font-size: 10px;
      font-size: 1rem;
      content: "👑";
      position: absolute;
      left: -1.5em;
      color: #5cb85c;
      top: 0.3em; }
    .players__player.player {
      color: #5cb85c; }
    .players__player.correct:after {
      content: "✓";
      position: absolute;
      right: -0.75em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #5cb85c; }
    @media (max-width: 88.125em) {
      .players__player.active:before {
        color: #228B22; }
      .players__player.player {
        color: #228B22; }
      .players__player.correct:after {
        color: #228B22; } }
  .players__score {
    margin-left: auto; }

.scoreboard__items {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  width: 10em;
  max-width: 100%; }

.scoreboard__item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }
  li:first-child > .scoreboard__item {
    color: gold; }

.scoreboard__item-name {
  padding-right: 1.5em; }

.scoreboard__item-score {
  margin-left: auto; }

.notification {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 25em;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .notification__text {
    font-family: "Dosis", serif;
    line-height: 1.2;
    font-size: 1.1em;
    color: #444141;
    text-transform: lowercase; }
  .notification--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #5cb85c;
    color: white;
    padding: 0.5em;
    z-index: 15;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    .notification--top.active {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  .notification--top__link {
    color: white;
    font-weight: 700;
    padding: 0 0.35em;
    display: inline-block;
    -webkit-animation: pulsing 2s ease-out infinite;
    -moz-animation: pulsing 2s ease-out infinite;
    animation: pulsing 2s ease-out infinite; }
    .notification--top__link:hover {
      color: #337ab7; }
  .notification--top__close {
    position: absolute;
    right: 0.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1em;
    width: 1em;
    cursor: pointer; }
    .notification--top__close:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0.1em;
      left: 50%;
      margin-left: -0.05em;
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      -moz-transform: rotate3d(0, 0, 1, 45deg);
      -ms-transform: rotate3d(0, 0, 1, 45deg);
      -o-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      background-color: white; }
    .notification--top__close:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 0.1em;
      left: 50%;
      margin-left: -0.05em;
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      -moz-transform: rotate3d(0, 0, 1, -45deg);
      -ms-transform: rotate3d(0, 0, 1, -45deg);
      -o-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
      background-color: white; }

.gameroom__title {
  margin-bottom: 0; }
