$module: 		'btn';

.#{$module} {
	background-color: transparent;
	display: inline-block;
	margin-bottom: 0;
	font-family: $font-family-base;
	text-align: center;
	vertical-align: middle;
  	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 0;
	@include user-select(none);
	text-decoration: none !important;
	outline: 0;

	&--primary {
		@extend .btn;
		$fontSize: 16;
		font-size: em($fontSize);
		background-color: $color1;
		color: white;
		padding: em(5,$fontSize) em(8,$fontSize) em(7,$fontSize);
		border-radius: em(5,$fontSize);

		&:hover {
			background-color: darken($color1,10%);
		}

		.table--rooms & {
			display: block;
			margin: 0 auto;
			min-width: em(100);
		}
	}

	&--secondary {
		@extend .btn;
		$fontSize: 12;
		background-color: $color4;
		font-size: em($fontSize);
		width: em(70,$fontSize);
		padding: em(8,$fontSize) em(10);
		color: white;
		border-radius: em(10);

		&:hover {
			background-color: darken($color4,10%);
		}
	}

	&--tertiary {
		@extend .btn--primary;
		background-color: $color8;

		&:hover {
			background-color: darken($color8,10%);
		}
	}

	&--submit {
		@extend .#{$module}--secondary;
		$fontSize: 12;
		width: em(30,$fontSize);
		padding: em(5);
		border-radius: 0;
	}
}