$module: 		'canvas';


.#{$module} {
	background-color: lighten(#afafaf,10%);
	cursor: url('../media/img/finger.ico') 15 0,pointer;
	display: block;
	box-shadow: 0 0 em(1) em(1) rgba(0, 0, 0, 0.4);
	position: relative;

	&--client {
		@extend .#{$module};
		cursor: default;
		border-radius: em(5);
	}

	&__wrap {
		width: $layout-width-canvas;
		max-width: 100%;
		@include user-select(none);
		position: relative;
	}

	&__start-btn {
		@extend .btn--primary;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%));
		font-size: em(18);
		border-radius: em(4);
		box-shadow: -1px 2px 6px rgba(0,0,0,0.4);
	}

	&__settings {
		@include display(flex);
		@include align-items(baseline);
		@include user-select(none);
		padding: em(10) em(15);
		box-shadow: 0 0 em(1) em(1) rgba(0, 0, 0, 0.2);
		z-index: 2;
		position: relative;
	}

	&__settings-btn {
		@extend .btn--primary;
		margin-right: em(5);
		background-color: white;
	}

	&__colours {
		@include display(flex);
		margin: 0 em(10) 0 auto;
		@include justify-content(flex-end);
	}

	&__colour {
		display: block;
		width: em(20);
		height: em(20);
		margin: 0 em(5);
		cursor: pointer;
	}

	&__brush-sizes {
		@include display(flex);
		margin: 0 em(10) 0 auto;
		@include justify-content(flex-end);
	}

	&__brush-size-wrap {
		@extend .#{$module}__colour;
		position: relative;
	}

	&__brush-size {
		background-color: white;
		border-radius: 100%;
		display: block;
		margin: em(5);
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include transform(translateY(-50%));
		pointer-events: none;
		box-shadow: 0 0 1px rgba(black,0.6);

		.#{$module}__brush-size-wrap.active > & {
			background-color: $color5;
		}
	}

	&__colour-picker {
		position: absolute;
		z-index: 3;

		> div {
			display: none;
		}

		&.active {
			> div {
				display: block;
			}
		}
	}

	&__colour-opener {
		display: block;
		width: em(25);
		height: em(25);
		background-color: white;
		box-shadow: 0 0 1px rgba(black,0.6);
		border-radius: em(2);
	}

	&__settings-label {
		padding-right: em(15);
		position: relative;
		top: e(2);
	}
}