$module: 		'footer';

.#{$module} {
	$fontSize: 16;
	font-size: em($fontSize);	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: em(10,$fontSize);

	&__left {
		float: left;
		padding-bottom: em(10);

		@include bp(mob-xl) {
			float: none;
		}
	}

	&__right {
		float: right;
		@include bp(mob-xl) {
			float: none;
		}
	}
}