$module: 		'form';

.#{$module} {
	margin-bottom: em(30);
	width: em(500);
	max-width: 100%;
	@include clearfix;

	&--popup {
		position: fixed;
		padding-top: em(20);
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include transform(translateY(-50%));
		width: em(500);
		max-width: 95%;
		background-color: darken(white,5%);
		box-shadow: 0 2px 15px rgba(black,0.5);
		padding: em(20);
		color: black;
	}

	&__close {
		position: absolute;
		top: 0;
		right: em(5);
		cursor: pointer;
		color: $color1;
		font-family: 'Helvetica';
		padding: em(10);

		&:hover {
			color: darken($color1,10%);
		}
	}

	&--chat {
		@include display(flex);
	}

	&--inline {
		@extend .#{$module};
		@include display(flex);
	}

	&__items {
		@include display(flex);

		.#{$module}--inline & {
			@include align-items(center);
			@include flex-wrap(wrap);
		}
	}

	&__item {
		margin-bottom: em(10);

		&.right {
			margin-left: auto;
		}
	}

	&__item-wrap--wide {
		width: 100%;
	}

	&__button--inline {
		@extend .btn--primary;
		padding: 0 em(10,18);
		line-height: em(34,18);
	}

	&__control {
		display: block;
		margin-bottom: em(20);

		.#{$module}--inline & {
			@include display(flex);
			@include align-items(center);
		}

		.table--rooms & {
			margin-bottom: 0;
		}
	}

	&__error {
		display: block;
		color: red;
		margin: em(10) 0;

		.#{$module}--inline & {
			width: 100%;
		}
	}

	&__success {
		@extend .#{$module}__error;
		color: $color6;
	}

	&__label {
		$fontSize: 16;
		font-size: em($fontSize);
		display: block;
		margin-bottom: em(3,$fontSize);
		padding-right: em(20);

		.#{$module}--inline & {
			margin-bottom: 0;	
		}
	}

	&__control--select {
		@extend .#{$module}__control;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			right: em(10);
			top: 50%;
			@include transform(translateY(-50%));
			border-top: 10px solid white;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
	}

	&__select-wrap {
		display: block;
		position: relative;
		width: em(350);
		max-width: 100%;

		&:after {
			content: "";
			border-top: em(10) solid black;
			border-left: em(5) solid transparent;
			border-right: em(5) solid transparent;
			position: absolute;
			right: em(15);
			top: 50%;
			@include transform(translateY(-50%));
			pointer-events: none;
		}
	}

	&__select {
		$fontSize: 14;
		font-size: em($fontSize);
		width: 100%;
		border-radius: em(5,$fontSize);
		box-shadow: 0 0 1px rgba(0,0,0,0.4);
		-webkit-appearance: none;
		padding: em(7,$fontSize) em(15,$fontSize) em(10,$fontSize);
		border: 0;
		outline: 0;

		> option {
			background-color: white;
			color: black;
		}
	}

	&__input-wrap {
		.#{$module}--inline & {
			padding-right: em(20);
		}
	}

	&__input {
		$fontSize: 16;
		font-size: em($fontSize);
		line-height: 1.5;
		padding: em(5,$fontSize) em(6,$fontSize);
		width: 100%;
		display: block;
		outline: 0;
		border: 0;
		box-shadow: 0 0 1px rgba(0,0,0,0.4);

		.#{$module}--chat & {
			width: calc(100% - 30px);	
		}

		.table--rooms & {
			$fontSize: 15;
			font-size: em($fontSize);
		}
	}

	&__delete {
		$fontSize: 14;
		@include font-size($fontSize);
		position: absolute;
		right: em(15,$fontSize);
		top: 50%;
		@include transform(translateY(-50%));
		height: em(15,$fontSize);
		width: em(15,$fontSize);
		background-color: red;
		border: 0;
		color: white;

		&:after {
			content: "x";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			@include transform(translateY(-50%));
		}
	}
}