// global scss

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	@include font-size($font-size-base);
	font-family: $font-family-base;
	background-color: $color3;
	background-image: url('/media/img/bg.png');
	color: white;
	line-height: ($font-lineheight-base/$font-size-base);
	padding-right: em(160);
}

.wrapper {
	padding: em(30) em(15);
	width: em(1200);
	margin: 0 auto;
	@include clearfix;
}

.innerwrapper {
	@include display(flex);
}

#memCanvas {
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
}