$module: 		'header';


.#{$module} {
	text-align: center;
	margin-bottom: em(30);

	&__title {
		@extend .beta;
		display: inline-block;
		vertical-align: middle;
		width: auto;
		line-height: 1;
		margin-bottom: 0;
	}

	&__logo {
		display: inline-block;
		vertical-align: middle;
	}

	&__steve {
		display: inline-block;
		vertical-align: middle;
		width: em(50);
		height: em(50);
		border-radius: 100%;
		background-image: url('/media/img/steve.jpg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__home-link {
		@extend .btn--primary; // components/buttons
		position: absolute;
		top: em(10,16);
		right: em(190,16);

		@include bp(scoreboard-below){
			right: em(10,16);
		}
	}
}