$module: 		'header';


.#{$module} {
	text-align: center;
	margin-bottom: em(30);

	&__title {
		@extend .alpha;
		display: inline-block;
		vertical-align: middle;
		margin-right: em(30,51);
		width: auto;
		line-height: 1;
		margin-bottom: 0;
	}

	&__logo {
		display: inline-block;
		vertical-align: middle;
	}

	&__steve {
		display: inline-block;
		vertical-align: middle;
		width: em(99);
		height: em(123);
		background: url('/media/img/hand-small.png'), url('/media/img/steve.jpg');
		background-position: 47px 56px, center;
		background-repeat: no-repeat;
		background-size: 30px, cover;
	}
}