$module: 		'table';

.#{$module} {
	min-width: em(350);
	border: em(1) solid $color4;

	&--rooms {
		width: 100%;
		table-layout: fixed;
		margin-bottom: em(30);
		border: em(1) solid $color4;

		tbody {
			font-size: em(16);
		}

		tbody td {
			padding: em(10,16) em(15,16);
		}

		thead td {
			padding: em(12) em(15) em(12);
		}

		@include bp(tab-m) {
			table-layout: auto;

			td:nth-child(5), td:nth-child(3) {
				display: none;
			}
		}

		@include bp(mob-l-a) {
			td:nth-child(2), td:nth-child(4) {
				display: none;
			}
		}
	}
}


tbody {
	$fontSize: 16;
	@include font-size($fontSize);
	padding-bottom: em(10,$fontSize);

	tr:last-child {
		border: 0;
	}

	tr:nth-child(odd) {
		background-color: rgba(255,255,255,0.05);
	}

	td {
		padding: em(5);
		vertical-align: middle;
	}
}

tr {
	border-bottom: em(1) solid $color4;
}

td {
	line-height: 1.2;
	padding: em(10);
	position: relative;
}