$module: 		'table';

.#{$module} {
	background-color: lighten($color3,10%);
	min-width: em(350);

	thead {
		color: $color5;
	}

	tbody {
		$fontSize: 16;
		@include font-size($fontSize);
		padding-bottom: em(10,$fontSize);

		tr {
			border-bottom: em(1) solid $color4;
			background-color: lighten($color3,7%);

			&:nth-child(even) {
				background-color: lighten($color3,10%);				
			}
		}

		td {
			padding-top: em(10,$fontSize);
			padding-bottom: 0;
		}
	}

	td {
		line-height: 1.2;
		padding: em(10);
		position: relative;
	}
}