$module: 			'game';


.#{$module} {
	&__outerwrap {
		@include bp(tab-xl) {
			.#{$module}__wrap, .players {
				display: none;
			}

			&:after {
				$fontSize: 32;
				content: "Sorry, your browser dimensions are too small to accommodate fingerpainting. The game is currently aimed at laptop and desktop owners with screen widths in excess of 1200px";
				position: fixed;
				top: 50%;
				text-align: center;
				@include transform(translateY(-50%));
				left: 0;
				right: 0;
				margin: 0 auto;
				width: em(500,$fontSize);
				max-width: 90%;
				color: $color1;
				font-size: em($fontSize);
				font-weight: 700;
			}
		}
	}

	&__wrap {
		@include display(flex);
		@include flex-wrap(wrap);
		margin-bottom: em(50);
	}

	&__title {
		@extend .beta;
		text-align: center;
		width: $layout-width-canvas;
	}

	&__top {
		@include display(flex);
		@include align-items(center);
		width: 100%;
	}

	&__timer {
		$fontSize: 70;
		font-size: em($fontSize);
		margin-left: auto;
		min-width: em(90,$fontSize);
		@include user-select(none);
	}

	&__puzzle {
		text-align: center;
		display: block;
		height: em(100);
		line-height: em(100);
		width: 100%;
		white-space: pre-wrap;
	}

	&__puzzle-word {
		$fontSize: 48;
		font-size: em($fontSize);
		display: inline-block;
		padding-right: em(20,$fontSize);

		span {
			padding-right: em(5,$fontSize);
		}
	}

	&__message {
		position: absolute;
		background-color: $color1;
		padding: em(20);
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		max-width: em(300);
	}
}