$module: 			'game';


.#{$module} {
	&__wrap {
		@include display(flex);
		@include flex-wrap(wrap);
	}

	&__title {
		@extend .beta;
		text-align: center;
		width: $layout-width-canvas;
	}

	&__top {
		@include display(flex);
		@include align-items(center);
		width: 100%;
	}

	&__timer {
		$fontSize: 100;
		font-size: em($fontSize);
		margin-left: auto;
		min-width: em(90,$fontSize);
	}

	&__puzzle {
		$fontSize: 48;
		font-size: em($fontSize);
		text-align: center;
		display: block;
		height: em(100,$fontSize);
		line-height: em(100,$fontSize);
		width: 100%;
	}
}