$module: 			'game';


.#{$module} {
	&__wrap {
		@include display(flex);
		@include flex-wrap(wrap);
	}

	&__title {
		@extend .beta;
		text-align: center;
		width: $layout-width-canvas;
	}

	&__top {
		@include display(flex);
		@include align-items(center);
		width: 100%;
	}

	&__timer {
		$fontSize: 100;
		font-size: em($fontSize);
		margin-left: auto;
		min-width: em(90,$fontSize);
	}

	&__puzzle {
		text-align: center;
		display: block;
		height: em(100);
		line-height: em(100);
		width: 100%;
		white-space: pre-wrap;
	}

	&__puzzle-word {
		$fontSize: 48;
		font-size: em($fontSize);
		display: inline-block;
		padding-right: em(20,$fontSize);

		span {
			padding-right: em(5,$fontSize);
		}
	}
}