$module: 			'notification';

.#{$module} {
	position: fixed;
	top: 50%;
	@include transform(translateY(-50%));
	left: 0;
	right: 0;
	max-width: em(400);
	border-radius: em(15);
	background-color: $color7;
	padding: em(20);
	min-height: em(150);
	margin: 0 auto;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	&__text {
		$fontSize: 30;
		font-size: em($fontSize);
		color: white;
	}
}