$module: 			'notification';

.#{$module} {
	position: fixed;
	top: 50%;
	@include transform(translateY(-50%));
	left: 0;
	right: 0;
	max-width: em(500);
	border-radius: em(5);
	background-color: rgba(white,0.9);
	padding: em(20);
	margin: 0 auto;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	&__text {
		font-family: $font-family-secondary;
		$fontSize: 22;
		line-height: 1.2;
		font-size: em($fontSize);
		color: #444141;
		text-transform: lowercase;
	}
}