$module:			'players';

.#{$module} {
	width: em(160);
	max-width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black,0.85);
	padding: em(20);
	z-index: 10;

	@media(max-width: 1410px) {
		position: static;
		width: auto;
	}

	&__player {
		@include display(flex);
		padding: em(5);
		border-bottom: em(1) solid rgba(dimgray,0.4);
		position: relative;

		&.active {
			&:before {
				$fontSize: 10;
				@include font-size($fontSize);
				content: "👑";
				position: absolute;
				left: em(-7,$fontSize);
				color: $color5;
				top: em(3,$fontSize);
			}
		}

		&.player {
			color: $color6;
		}

		&.correct {
			&:after {
				content: "✓";
				position: absolute;
				right: em(-15);
				top: 50%;
				@include transform(translateY(-50%));
				color: $color5;
			}
		}
	}

	&__score {
		margin-left: auto;
	}
}