$module:			'players';

.#{$module} {
	width: em(160);
	max-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(black,0.85);
	padding: em(20);
	z-index: 10;

	&__player {
		@include display(flex);
		padding: em(5);
		border-bottom: em(1) solid rgba(dimgray,0.4);
		position: relative;

		&.active {
			color: $color5;
		}

		&.correct {
			color: $color6;

			&:after {
				content: "✓";
				position: absolute;
				right: em(-15);
				top: 50%;
				@include transform(translateY(-50%));
				color: $color5;
			}
		}
	}

	&__score {
		margin-left: auto;
	}
}