.float-right {
	float: right;
}

.float-left {
	float: left;
}

.flex-right {
	display: block !important;
	margin-left: auto !important;
}

.align-right {
	text-align: right;
}

.block {
	display: block !important;
}

.ib {
	display: inline-block !important;
}

.hide {
	display: none !important;
}