.float-right {
	float: right;
}

.float-left {
	float: left;
}

.flex-right {
	display: block !important;
	margin-left: auto !important;
}

.align-right {
	text-align: right;
}

.block {
	display: block !important;
}

.ib {
	display: inline-block !important;
}

.ib--m {
	display: inline-block !important;
	vertical-align: middle;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.hide {
	display: none !important;
}